@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: "Noto Sans TC", sans-serif;
	font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
	background-color: #FBFBFB;
}

*,*:before, *:after {box-sizing: border-box;
}

.header-detail{
	height: 90px;
}

.wrap {
    padding: 0 0;
    margin: 0 auto;
}

.header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FBFBFB;
}

.header ul{
	display: flex;
    justify-content: center;
    gap: 40px;
    padding: 24px 0px;
}

.header li a{
	font-size: 28px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.banner {
    display: flex;
    align-items: stretch;
    height: 560px;
    gap: 24px;
    border: 1px solid #6C757D;
    overflow: hidden;
}

.banner img {
    display: block;
    width: calc(50% - 12px);
    height: 100%;
    object-fit: cover;
}

.banner-content {
    display: flex;
    width: calc(50% - 12px);
    height: 100%;
    padding: 80px 120px 80px 0px;
    flex-direction: column;
    justify-content: center;
}

.banner time {
    font-size: 16px;
    margin-bottom: 4px;
}

.title {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    font-size: 24px;
}

.title a {
    text-decoration: none;
    margin-right: 8px;
}

.btn{
	font-size: 16px;
	border: solid 1px;
	padding: 4px 8px;
	border-radius: 30px;
	background: #0027D5;
	color: white;
}

.btn:hover{
	background: #000;
	color: white;
}

.banner-content h1 {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

.main {
    width: 636px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main h2 {
    color: #0027D5;
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 24px;
}

.main-2 {
    margin: 0 auto;
    max-width: 636px;
    margin-top: 48px;
    flex-direction: column;
    justify-content: center;
}

.main-2 h2 {
    color: #0027D5;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.main-2 h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.content{
    margin-bottom: 24px;
}

.content ol{
    list-style: inside;
    margin-bottom: 24px;
}

.content span{
    color: #0027D5;
}

.ending{
    background-color: #ededed;
    padding: 24px;
	border-radius: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-3 {
    margin: 0 auto;
    max-width: 636px;
    margin-top: 48px;
    flex-direction: column;
    justify-content: center;
}

.main-3 h2 {
    color: #0027D5;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.main-3 h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.content-2{
    margin-bottom: 24px;
}

.content-2 ul{
    list-style: inside;
    margin-bottom: 24px;
}

.tips{
    background-color: #ededed;
    padding: 24px;
	border-radius: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.main-4 {
    margin: 0 auto;
    max-width: 636px;
    margin-top: 48px;
    flex-direction: column;
    justify-content: center;
}

.main-4 h2 {
    color: #0027D5;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.main-4 h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.content-3{
    margin-bottom: 24px;
}

.content-3 ul{
    list-style: inside;
    margin-bottom: 24px;
}

.content-3 span{
    color: #0027D5;
}

.main-5 {
    margin: 0 auto;
    max-width: 636px;
    margin-top: 48px;
    margin-bottom: 48px;
    flex-direction: column;
    justify-content: center;
}

.main-5 h2 {
    color: #0027D5;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.quote{
    background-color: #ededed;
    padding: 24px;
	border-radius: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.main-6 {
    margin: 0 auto;
    max-width: 636px;
    margin-top: 48px;
    margin-bottom: 48px;
    flex-direction: column;
    justify-content: center;
}

.main-6 h2 {
    color: #0027D5;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.content-5 ul{
    list-style: inside;
    margin-bottom: 24px;
}